.addNewMemPopupLeftSec{
    background-image: url("https://img.freepik.com/premium-vector/mini-people-with-documents-paper_25030-20469.jpg");
    background-position: center;
    background-size: cover;
}